@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Noto+Serif:ital@1&family=Roboto:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Noto-Serif, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: Noto Serif, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

h1 {
    margin-left: 15px;
}

#logo {
    float: left;
    font-size: 200%;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image */

#welding-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#welding-person {
    height: 600px;
    width: 48%;
    background: url('../images/welding-person1.jpeg') no-repeat center center;
    float: left;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#welcome-text {
    height: 600px;
    width: 50%;
    color: black;
    background-color: blanchedalmond;
    float: right;
    text-align: center;
}

#welcome-text h2 {
    color: black;
    font-size: 190%;
    letter-spacing: 3px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
}

#welcome-text h3 {
    color: black;
    font-size: 120%;
    letter-spacing: 3px;
    padding: 10px;
    margin: 0 auto;
}
/* about me */

#about-me {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #a8bbb9;
    color: black;
    text-align: center;
}

#about-me h2 {
    padding-bottom: 20px;
}

#about-me-text {
    padding-bottom: 20px;
    color: black;
}

#classes-times {
    border: 1px dotted black;
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
    
}
.timetable {
     font-size: 90%;
     color: black;
     list-style-type: none;

}

.timetable li {
    margin-bottom: 5px;
}

/* sign up form */

#form-section {
    clear: left;
    background-size: cover;
    background-position: center;
    background-color: lightgray;
    
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #000;
    background-color: lightgray;
    max-width: 400px;
    left: 10%;;
    padding: 30px;
    margin: 0 auto;
    position: static;
    }

.signup-form h2 {
    color: black;
    margin-bottom: 20px;
}


.text-input {
    background: transparent;
    color: black;
    width: 400px;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid black;
    border-radius: 2px;
    
    
}

.text-input:hover {
    border-color: #f16c6b;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #ef975f;
    color: black;
    display: block;
    
}

.join-button:hover {
    background-color: white;
    color: black;
    
}

/* footer */


footer {
    height: 250px;
}

#contact-info {
    text-align: center;
    padding-top: 20px;
    
}

#contact-info h2, p {
    color: black;
    padding-bottom: 20px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    padding: 5%;
    margin: 1%;
    color: black;
}

/* testamonilas section */

#testamonials {
    height: 500px;
    width: 100%;
    background-color: #a3b995;
}

#testamonials div {
    padding-left: 10%;
    padding-top: 30px;
    padding-bottom: 30px;
}

#testamonials h2 {
    text-align: center;
    padding-top: 10px;
}

#testamonials h3 {
    font-size: 170%;
    font-style: italic;
}

#testamonials p {
    font-size: 130%;
    
}

/* Media queries */

/* For larger to medium screens size from 1200px wide and down */

@media screen and (max-width: 1200px) {
    #about-me {
        width: 65%;
        height: 600px;
        margin: 0 auto;
    }

    #about-me-text {
        padding: 30px;
        margin: 0;
    }

    hr {
        display: none;
    }

    #form-section {
            width: 65%;
            height: 400px;
            margin: 0 auto;
         }

         #name {
            width: 100%;
            float: left;
            padding: 0;
            

         }

         #email {
            width: 100%;
            float: left;
            padding: 0;
             
             
         }

         #level {
            width: 100%;
            float: left;
            padding: 0;
             
             
         }

         #testamonials {
            width: 65%;
            height: 800px;
            margin: 0 auto;
            
         }

         #welding-outer {
            width: 65%;
            height: 600px;
            margin: 0 auto;
         }

         #welding-person {
            width: 100%;
            clear: both;
            height: 350px;
            padding: 0;
         }

         #welcome-text {
            width: 100%;
            clear: both;
            height: 350px;
            padding-bottom: 30px;
         }

         #menu {
            clear: right;
         }

        }

         /* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
        
        }
        #about-me {
            width: 90%;
        height: 800px;
        margin: 0 auto;
        }
        #form-section {
        width: 90%;
        height: 600px;
        margin: 0 auto;
        }

        #testamonials {
            width: 90%;
            height: 1000px;
            margin: 0 auto;
        }

        #welding-outer {
            width: 90%;
            height: 730px;
            margin: 0 auto;
         }

         #welding-person {
            width: 100%;
            clear: both;
            height: 350px;
            padding: 0;
         }

         #welcome-text {
            width: 100%;
            clear: both;
            height: 350px;
            padding-bottom: 30px;
         }

         h1 {
             text-align: center;
             margin-left: 30px;
         }

        }
        
    


