@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Noto Serif, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: Noto Serif, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 200%;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image */

#welding-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#welding-person {
    height: 600px;
    width: 50%;
    background: url('../images/welding-person1.jpeg') no-repeat center center;
    float: left;
}

#welcome-text {
    height: 600px;
    width: 50%;
    color: black;
    background-color: blanchedalmond;
    float: right;
    text-align: center;
}

#welcome-text h2 {
    color: black;
    font-size: 190%;
    letter-spacing: 3px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
}

#welcome-text h3 {
    color: black;
    font-size: 120%;
    letter-spacing: 3px;
    padding: 10px;
    margin: 0 auto;
}
/* about me */

#about-me {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: darkorchid;
    color: black;
    text-align: center;
}

#about-me h2 {
    padding-bottom: 20px;
}

#about-me-text {
    padding-bottom: 20px;
    color: black;
}

#classes-times {
    border: 1px dotted black;
    text-align: center;
    
}
.timetable {
     font-size: 90%;
     color: black;
     list-style-type: none;

}

/* sign up form */

#form-section {
    clear: left;
    background-size: cover;
    background-position: center;
    background-color: lightgray;
    
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #000;
    background-color: lightgray;
    max-width: 400px;
    left: 10%;;
    padding: 30px;
    margin: 0 auto;
    position: static;
    }

.signup-form h2 {
    color: black;
    margin-bottom: 20px;
}


.text-input {
    background: transparent;
    color: black;
    width: 400px;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid black;
    border-radius: 2px;
    
    
}

.text-input:hover {
    border-color: #f16c6b;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: black;
    display: block;
    
}

.join-button:hover {
    background-color: white;
    color: #f16c6b;
    
}

/* footer */


footer {
    height: 250px;
}

#contact-info {
    text-align: center;
    padding-top: 20px;
    
}

#contact-info h2, p {
    color: black;
    padding-bottom: 20px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    padding: 5%;
    margin: 1%;
    color: black;
}

/* testamonilas section */

#testamonials {
    height: 500px;
    width: 100%;
    background-color: lightgreen;
}

#testamonials div {
    padding-left: 10%;
    padding-top: 30px;
    padding-bottom: 30px;
}

#testamonials h2 {
    text-align: center;
    padding-top: 10px;
}

#testamonials h3 {
    font-size: 170%;
    font-style: italic;
}

#testamonials p {
    font-size: 130%;
    font-style: italic;
}

/* Media queries */

/* For larger to medium screens size from 1200px wide and down */

@media screen and (max-width: 1200px) {
    #about-me {
        width: 65%;
        height: 800px;
        margin: 0 auto;
    }

    #about-me-text {
        padding: 30px;
        margin: 0;
    }

    hr {
        display: none;
    }
}